<div class="my-account">
    <div class="my-account-title">
        <h5>CERRAR SESIÓN</h5>
        <h1>ADMINISTRADOR DE CUENTA</h1>
        <h2>Bienvenido de nuevo, Julian!</h2>
    </div>
    <div class="orders">
        <h3>
            MIS ORDENES 
           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
            </svg>
        </h3>        
        <p>No has vendido nada aún.</p>
    </div>
    <div class="orders">
        <h3>
            MI CATALOGO     
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
            </svg> 
        </h3>
        <p>No has cargando nada aún.</p>
    </div>
    <div class="orders">
        <h3>
            ADMINISTRAR USUARIOS
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
            </svg>
        </h3>
        <p>No se ha registrado ningún usuario aún.</p>
    </div>
</div>