<div class="account">
    <h1>Iniciar Sesión</h1>
    <h2>Por favor introduce tu dirección de correo</h2>
    <form method="POST" action="/mi-cuenta/login">
        <input type="email" name="email" id="email" placeholder="Correo" minlength="6" maxlength="30" value="{{email}}" required>
        <input type="password" name="password" id="password" placeholder="Contraseña" minlength="8" maxlength="30" value="{{password}}" required>
        <input type="submit" value="Iniciar Sesión">
    </form>
    <p>¿No tienes cuenta? <a href="/mi-cuenta/signup">Crear cuenta</a></p>
</div>