<div class="account">
    <h1>CREAR CUENTA</h1>
    <h2>Por favor rellena la información de debajo</h2>
    <form method="post" action="/signup">
        <input type="text" name="firstname" id="firstname" placeholder="Nombre/s" required>
        <input type="text" name="lastname" id="lastname" placeholder="Apellido/s" required>
        <input type="tel" name="phone" id="phone" placeholder="Telefono" required>
        <input type="email" name="email" id="email" placeholder="Correo" required>
        <input type="password" name="password" id="password" placeholder="Contraseña" required>
        <input type="password" name="r-password" id="r-password" placeholder="Repeti tu contraseña" required>
        <input type="submit" value="CREAR CUENTA">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
</div>