<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">MI CARRITO</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h6>EL CARRITO ESTA VACIO.</h6>
                    <button>CHECKOUT - $17</button>
                </div>
            </div>
            <!-- Cart Widget OffCanvas -->
        </div>