<nav>
        <div class="navlinks">
            <a href="/" class="color-links">HOME</a>
            <a href="/collections" class="color-links">COLECCIONES</a>
            <a href="/about" class="color-links">SOBRE NOSOTROS</a>
        </div>
        <div class="brand">
            <a href="/">EP/PUR <span>IND.</span></a>
        </div>
        <div class="usernav">
             <a href="/information/contact">
                AYUDA
            </a>
            <a {{#if user}}href="/account"{{else}}href="/account/login"{{/if}} class="color-links">
                {{#if user}}MI CUENTA{{else}}LOG IN{{/if}}
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg> 
            <span data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">CART</span>
            <!-- Cart Widget OffCanvas -->
            {{> cart}}
    </nav>    