<nav>
    <div class="header-brand">
        <a href="/">EPPUR</a>
    </div>
    <div class="header-links">
        <div class="navlinks">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Colección Eppur
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/coleccion-eppur">Todos Los Productos</a></li>
                    <li><a class="dropdown-item" href="/coleccion-eppur/categorias/buzos">Buzos</a></li>
                    <li><a class="dropdown-item" href="/coleccion-eppur/categorias/remeras">Remeras</a></li>
                    <li><a class="dropdown-item" href="/coleccion-eppur/categorias/pantalones">Pantalones</a></li>
                    <li><a class="dropdown-item" href="/coleccion-eppur/categorias/bermudas">Bermudas</a></li>
                    <li><a class="dropdown-item" href="/coleccion-eppur/categorias/boinas">Boinas</a></li>
                    <li><a class="dropdown-item" href="/coleccion-eppur/categorias/accesorios">Accesorios</a></li>
                </ul>
            </div>
            <a href="/outfits-for-you">Outfits For You</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/galeria">Galería</a>
            <a href="/guia-de-talles">Guía De Talles</a>
            <a href="/contacto">Contacto</a>
        </div>
        <div class="usernav">
            <a {{#if user}}href="/mi-cuenta"{{else}}href="/mi-cuenta/login"{{/if}} >
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person" viewBox="0 0 20 20">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                </svg>
            </a>
            <a href="/carrito">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3" viewBox="0 0 20 20">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
            </svg>
            {{> offcanvasCart}}
        </div>
    </div>
</nav>    