<nav>
    <div class="header-brand">
        <a href="/"><img src="../../images/logo.png"></a>
    </div>
    <div class="header-links">
        <div class="navlinks">
            <div class="dropdown">
                <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    COLECCIÓN EPPUR
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/collections/coleccion-eppur">Colección Eppur</a></li>
                    <li><a class="dropdown-item" href="/collections/coleccion-eppur/buzos">Buzos</a></li>
                    <li><a class="dropdown-item" href="/collections/coleccion-eppur/remeras">Remeras</a></li>
                    <li><a class="dropdown-item" href="/collections/coleccion-eppur/pantalones">Pantalones</a></li>
                    <li><a class="dropdown-item" href="/collections/coleccion-eppur/bermudas">Bermudas</a></li>
                    <li><a class="dropdown-item" href="/collections/coleccion-eppur/boinas">Boinas</a></li>
                    <li><a class="dropdown-item" href="/collections/coleccion-eppur/accesorios">Accesorios</a></li>
                </ul>
            </div>
            <a href="/outfits-for-you">OUTFITS FOR YOU</a>
            <a href="/about">NOSOTROS</a>
            <a href="/gallery">GALERÍA</a>
            <a href="/sizes">GUÍA DE TALLES</a>
            <a href="/contact">CONTACTO</a>
        </div>
        <div class="usernav">
            <a {{#if user}}href="/account"{{else}}href="/account/login"{{/if}} >
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 20 20">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>
            <a href="/cart">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart" viewBox="0 0 20 20">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </a>
            {{!-- {{> cart}} --}}
        </div>
    </div>
</nav>    