<div class="offcanvas offcanvas-filters offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Nuestra Colección</h5>
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" data-bs-dismiss="offcanvas" aria-label="Close">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>  
  </div>
  <div class="offcanvas-body">
    <div>
      <div class="filter-box">
          <h3>Categorías</h3>
            <a href="/coleccion-eppur">Todos Los Productos</a>          
            <a href="/coleccion-eppur/categorias/buzos">Buzos</a>
            <a href="/coleccion-eppur/categorias/remeras">Remeras</a>
            <a href="/coleccion-eppur/categorias/pantalones">Pantalones</a>
            <a href="/coleccion-eppur/categorias/bermudas">Bermudas</a>
            <a href="/coleccion-eppur/categorias/boinas">Boinas</a>
            <a href="/coleccion-eppur/categorias/accesorios">Accesorios</a>
      </div>
      <div class="filter-box">
          <h3>Colores</h3>
            <a href="/coleccion-eppur/colores/negro">Negro</a>
            <a href="/coleccion-eppur/colores/blanco">Blanco</a>
            <a href="/coleccion-eppur/colores/gris">Gris</a>
            <a href="/coleccion-eppur/colores/beige">Beige</a>
      </div>
      <div class="filter-box">
          <h3>Talles</h3>
            <a href="/coleccion-eppur/talles/large">Large</a>
            <a href="/coleccion-eppur/talles/medium">Medium</a>
            <a href="/coleccion-eppur/talles/small">Small</a>
      </div>
    </div>
  </div>
</div>