<div class="about">
    <h1>Comunidad Eppur</h1>
    <div class="about-container">
        <div class="about-us">
            <img src="../../images/outfits.jpg" >
            <h4>SOBRE NOSOTROS</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fuga iure voluptates debitis dolores tempore fugiat animi nemo qui sunt neque accusamus asperiores consequatur sequi dolorem impedit temporibus accusantium, possimus sint eveniet! Fugiat cupiditate quae at eaque, maxime tempora. Saepe ea dolor cum quia. Quae delectus impedit magni commodi temporibus non, deleniti, voluptas ad cum veritatis odio laboriosam harum iusto doloribus quisquam! Accusantium in asperiores tempora tempore perspiciatis fugiat voluptas, optio magni minima! Tenetur, placeat suscipit.</p>
        </div>
        <div class="behind-scenes">
            <div class="behind-scenes-firstbox">
                <h4>
                    DETRÁS DE ESCENA
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil deserunt, at non, libero, sit quas minima consequuntur accusantium ut esse eum.</p>
                </h4>
                <img src="../../images/outfits.jpg" >
            </div>
            <img src="../../images/outfits.jpg" class="behind-scenes-secondbox" >
        </div>
        <div class="movement">
            <h4>
                EL MOVIMIENTO
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At nesciunt, porro doloribus esse dolore commodi officiis voluptates, unde quisquam voluptate error nihil inventore id aut. Totam veniam est hic quibusdam ratione magni expedita suscipit recusandae enim ullam.</p>
            </h4>
            <img src="../../images/outfits.jpg" >
        </div>
        <div class="principales">
            <img src="../../images/outfits.jpg" class="principales-firstbox" >
            <div class="principales-secondbox">
                <h4>
                    NUESTROS PRINCIPIOS
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos unde error deleniti, ab atque officia facere eius adipisci. Ea, voluptates.</p>
                </h4>
                <img src="../../images/outfits.jpg" >
            </div>
        </div>
        <div class="visit-us">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse exercitationem temporibus pariatur tempore hic! Doloribus, quo libero. Pariatur, doloribus deserunt.</p>
        </div>
    </div>
</div>