<div class="gallery">
    <h1>GALERÍA DE FOTOS</h1>
    <div class="gallery-box">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
        <img src="../images/productos.jpg">
    </div>
</div>