<div class="gallery">
    <h1>Galería De Fotos</h1>
    <p>Aquí compartiremos todas las fotos de nuestros clientes que suban sus fotos a Instagram usando el hashtag #RolandByYou. Entre todos aquellos que participen, sortearemos mensualmente productos de nuestra marca.</p>
    {{#if boolean}}
        <div class="gallery-box">
          {{#each photos}}
            <a href="{{this.url}}" target="_blank"><img src="../images/{{this.image}}"></a>
          {{/each}}  
        </div>
    {{/if}}
</div>