<div class="gallery">
    <h1>Galería De Fotos</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum minima aut deleniti id officiis recusandae. Laboriosam, magnam! Quis ut, accusamus est, voluptatum rerum nisi, expedita libero praesentium temporibus laborum facilis.</p>
    {{#if boolean}}
        <div class="gallery-box">
          {{#each photos}}
            <a href="{{this.url}}" target="_blank"><img src="../images/{{this.image}}"></a>
          {{/each}}  
        </div>
    {{/if}}
</div>