<div class="index">
    <main>
        <img src="../images/background2.jpeg.jpg" >
        <div class="main-text">
            <h1>Selling A Movement.</h1>
            <p>Encontra básicos atemporales, de la mejor calidad y al mejor precio.</p>
            <a href="/coleccion-eppur">Shop Now</a>
        </div>
    </main>
    <div class="index-footer">
        <h2>Seguinos En <a href="https://www.instagram.com/eppur_ind/" target="_blank">Instagram</a></h2>
        <div class="images">
            <img src="../images/background2.jpeg.jpg">
            <img src="../images/background2.jpeg.jpg">
            <img src="../images/background2.jpeg.jpg">
        </div>
    </div>
</div>