<div class="index">
    <main>
        <img src="../images/background2.jpeg.jpg" >
    </main>
    <div class="index-about">
        <h1>Hola, Somos Eppur</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptas soluta a quam, sunt quas minima, vitae ducimus placeat aliquam libero nam quae, iusto repellendus accusamus voluptatum architecto aspernatur illum ullam rem quidem pariatur. Nesciunt soluta omnis saepe velit eum?</p>
    </div>
    <div class="index-products">
        {{#if products}}
            {{#each products}}
                <a href="/collections/coleccion-eppur/{{this.category}}/{{this._id}}" class="product-box">
                    <img src="../images/productos.jpg">
                    <div class="product-box-data">
                        <h4>{{this.title}}</h4>
                        <h5>${{this.price}}</h5>
                    </div>
                </a>
            {{/each}}
        {{/if}}
    </div>
</div>