<div class="index">
    <main>
        <img src="../images/background2.jpeg.jpg" >
    </main>
    <div class="index-about">
        <h1>Más Que Una <span>Marca</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas incidunt accusamus exercitationem quo, sequi, iure dolor quos, minima molestiae sint cum dignissimos quas? Excepturi consectetur soluta cupiditate omnis iure. Quae incidunt reiciendis non maxime error a eum esse commodi! Vel illum, fugiat sed quidem nihil culpa aperiam ipsa. Enim eligendi nihil necessitatibus atque iure, recusandae quis ratione sit error suscipit!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus optio voluptas dignissimos quam quibusdam repellendus, consequuntur minus sed excepturi labore ea accusantium velit explicabo sit! Placeat cumque illum voluptatum porro.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem beatae facilis illo laudantium iure provident excepturi eum incidunt laboriosam corrupti nam, consectetur tempora nemo voluptas praesentium optio suscipit pariatur, vel exercitationem consequuntur vero obcaecati, at hic! Illum velit consequatur ullam.</p>
        <div class="index-about-images">
            <img src="../images/outfits.jpg" >
            <img src="../images/outfits.jpg" >
            <img src="../images/outfits.jpg" >
        </div>
    </div>
    <div class="index-how-buy">
        <h2>¿Cómo Comprar?</h2>
        <div class="box">
            <span>1. Create una cuenta</span>
            <p>Create tu perfil y se un #Eppurer</p>
        </div>
        <div class="box">
            <span>2. Elegi Tu Outfit</span>
            <p>Mira todos <a href="/coleccion-eppur">nuestros productos</a>. Recorda que llevando más de tres prendas tendrás un 15% de descuento en tu compra y comprando por más de $8.000 no te cobraremos envío!!</p>
        </div>
        <div class="box">
            <span>3. Arma Tu Carrito Eppur</span>
            <p>Agrega tus productos favoritos a tu carrito de compras y crea tu pedido. Para mejorar tu experiencia de compra podes <a href="/contacto">comunicarte con nosotros</a> las 24/7 y sacarte todas las dudas.</p>
        </div>
        <div class="box">
            <span>4. Termina Tu Orden</span>
            <p>Dejanos tus datos de contacto y contanos como te gustaría pagar, y cuál método de envío prefieres. Una vez realizada la orden, nos comunicaremos con vos vía WhatsApp para completar el pago.</p>
        </div>
        <div class="box">
            <span>5. Espera Tu Pedido</span>
            <p>Dejanos tus datos de contacto y contanos como te gustaría pagar, y cuál método de envío prefieres. Una vez realizada la orden, nos comunicaremos con vos vía WhatsApp para completar el pago.</p>
        </div>
        <div class="box">
            <span>6. Vestite con Eppur</span>
            <p>Disfruta tu pedido! Si quieres que publiquemos una foto en nuestra web etiquetanos utilizando el hashtag #MiOutfitEppur :)</p>
        </div>
    </div>
    <div class="index-footer">
        <h3> - Eppur 2022 - </h3>
        <h4>Seeling A <span>Movement</span></h4>
    </div>
</div>