.my-account {
    padding: 60px 12px 80px 12px;
    display: flex;
    flex-direction: column;
}

.my-account-title a {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    color: black;
}

.my-account-title a:hover {
    color: gray;
}

.my-account-title h1 {
    text-align: left !important;
    margin: 16px 0 10px 0;
}

.my-account-title h2 {
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.my-account-box {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.my-account-admin {
    width: 100%;
}

.my-account-admin h3 {
    font-size: 24px;
    font-weight: 400;
    color: black;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 16px;
}

.my-account-admin .functions {
    display: flex;
    margin-top: 36px;
    overflow-y: hidden;
    overflow-x: auto;
}

.my-account-admin a {
    font-size: 16px;
    font-weight: 300;
    color: white;
    transition: 1s;
    text-decoration: none;
    padding: 0 24px;
    height: 54px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    margin-right: 24px;
}

.my-account-admin a:last-child {
    margin-right: 0;
}

.my-account-admin a svg {
    margin-left: 10px;
}

.my-account-admin a:hover {
    opacity: .8;
    color: white;
}

.my-account-orders {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.my-account-orders h3 {
    font-size: 24px;
    color: black;
    font-weight: 400;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 16px;
    position: sticky;
    left: 0;
}

.my-account-orders p {
    font-size: 18px;
    font-weight: 300;
    color: gray;
    margin-top: 32px;
}

.my-account-orders table {
    margin-top: 40px;
    width: 100%;
}

.my-account-orders table thead tr th {
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-bottom: 10px;
    width: 240px !important;
    min-width: 240px !important;
}

.my-account-orders table thead tr th:first-child {
    width: 150px !important;
    min-width: 150px !important;
}

.my-account-orders table tbody {
    border-color: rgb(235, 235, 235) !important;
}

.my-account-orders table tbody tr td {
    font-size: 14px;
    font-weight: 400;
    color: black;
    border-color: gainsboro !important;
}

.my-account-orders table tbody tr td span {
    margin-right: 10px;
    margin-bottom: 10px;
}

.my-account-orders table tbody tr td a {
    font-size: 14px;
    font-weight: 400;
    color: black;
    transition: 1s;
}

.my-account-orders table tbody tr td a:hover {
    opacity: .8;
}

.my-account-orders table tbody tr td:last-child {
    color: white;
    background: gray;
}

@media only screen and (min-width: 768px) {
    .my-account {
        padding: 60px 24px 80px 24px;
    }    
}

@media only screen and (min-width: 992px) {
    .my-account {
        display: flex;
        flex-direction: column;
    }   
    
    .my-account-orders table thead tr th {
        font-size: 18px;
        width: auto !important;
        min-width: auto !important;
    }
    
    .my-account-orders table thead tr th:first-child {
        width: auto !important;
        min-width: auto !important;
    }
    
    .my-account-orders table tbody tr td {
        font-size: 16px;
    }
    
    .my-account-orders table tbody tr td a {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1190px) {
    .my-account {
        display: flex;
        flex-direction: column;
    }
    
    .my-account-title a {
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        transition: 1s;
        text-decoration: none;
        color: black;
    }
    
    .my-account-title a:hover {
        color: gray;
    }
    
    .my-account-title h1 {
        font-size: 42px;
        font-weight: 400;
        color: black;
        margin: 16px 0 10px 0;
    }
    
    .my-account-title h2 {
        font-size: 24px;
        font-weight: 300;
        color: black;
    }
    
    .my-account-box {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    
    .my-account-admin {
        width: 100%;
    }
    
    .my-account-admin h3 {
        font-size: 24px;
        font-weight: 400;
        border-bottom: 1px solid gainsboro;
        padding-bottom: 16px;
    }
    
    .my-account-admin ul {
        margin-top: 20px;
    }
    
    .my-account-admin ul li {
        margin: 10px 0;
    }
    
    .my-account-admin ul li a {
        font-size: 18px;
        font-weight: 300;
        color: black;
        transition: 1s;
        text-decoration: none;
    }
    
    .my-account-admin ul li a:hover {
        color: gray;
    }
    
    .my-account-orders {
        width: 100%;
    }
    
    .my-account-orders h3 {
        font-size: 24px;
        font-weight: 400;
        border-bottom: 1px solid gainsboro;
        padding-bottom: 16px;
    }
    
    .my-account-orders p {
        font-size: 18px;
        font-weight: 300;
        color: gray;
        margin-top: 32px;
    }
}

/* is admin */

.admin {
    padding: 60px 12px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.admin a {
    text-decoration: none;
    color: black;
    transition: 1s;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    width: max-content;
    position: sticky;
    left: 0;
}

.admin a svg {
    margin-right: 4px;
}

.admin a:hover {
    color: gray;
}

.admin h1 {
    margin-bottom: 40px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0;
}

.admin h1 svg {
    width: 18px !important;
    height: 18px !important;
    cursor: pointer;
    transition: 1s;
    color: black;
}

.admin h1 svg:hover {
    color: gray;
}

.admin .table {
    cursor: pointer;
}

.admin .table th {
    font-size: 16px;
    font-weight: 400;
}

.admin .table td {
    font-size: 14px;
    font-weight: 300;
}

.admin .table input {
    border: none;
    outline: none;
    background: transparent;
    transition: 1s;
}

.admin .table td:hover input {
    color: red;
    cursor: pointer;
}

.admin .table .actions {
    display: flex;
    align-items: center;
}

.admin .table .actions button {
    border: none;
    outline: none;
    background: none;
    margin-top: -10px;
}

.admin .table .actions a {
    margin-left: 10px;
}

/* modal */



@media only screen and (min-width: 768px) {
    .admin {
        padding: 60px 24px;
    }
}

@media only screen and (min-width: 992px) {    
    .admin a {
        font-size: 16px;
    }
    
    .admin h1 svg {
        width: 24px !important;
        height: 24px !important;
    }

    .admin .table th {
        font-size: 18px;
    }
    
    .admin .table td {
        font-size: 16px;
    }
}