.banner {
    background: black;
    padding: 10px 12px;
}

.banner label {
    font-size: 12px;
    font-weight: 400;
    color: white;
}

@media only screen and (min-width: 768px) {
    .banner {
        padding: 10px 24px;
    }

    .banner label {
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px) {
    .banner {
        padding: 10px 60px;
    }

    .banner label {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1190px) {
    .banner {
        padding: 10px 40px;
    }
}