.cart {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart h1 {
    font-size: 42px;
    font-weight: 400;
    color: black;
}

.cart h1 a {
    color: black;
    transition: 1s;
    text-decoration: none;
}

.cart h1 a:hover {
    color: black;
    opacity: .8;
}

.cart .notfound {
    margin-top: 28px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    text-align: center;
    padding-bottom: 100px;
}

.cart .notfound a {
    transition: 1s;
    display: block;
    color: black;
    margin-top: 4px;
}

.cart .notfound a:hover {
    color: gray;
}

.cart .products-cart {
    margin-top: 48px;
    width: 80%;
    padding: 0 40px 80px 40px;
}

.cart .products-cart .table {
    width: 100%;
}

thead {
    border-bottom: 2px rgba(220, 220, 220, 0.281) solid !important;
}

.cart .products-cart .table thead tr th {
    font-size: 24px;
    font-weight: 300;
    color: black;
    margin-bottom: 18px;
}

.cart .products-cart .table tbody tr td {
    padding: 32px 0;
}

.cart .products-cart .table tbody tr td:first-child {
    display: flex;
}

.cart .products-cart .table tbody tr td:first-child img {
    width: 120px;
    margin-right: 24px;
}

.cart .products-cart .table tbody tr td:first-child .data {
    display: flex;
    flex-direction: column;
}

.cart .products-cart .table tbody tr td:first-child .data h4 {
    font-size: 32px;
    font-weight: 400;
    color: black;
}

.cart .products-cart .table tbody tr td:first-child .data h5 {
    font-size: 22px;
    font-weight: 400;
    color: black;
    margin-top: -8px;
}

.cart .products-cart .table tbody tr td:first-child .data h6 {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    text-transform: capitalize;
}

.cart .products-cart .table tbody tr td:first-child .data h6 span {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin-top: 2px;
}

.cart .products-cart .table tbody tr td .item-count {
    display: flex;
    align-items: center;
    border: 1px solid gainsboro;
    width: max-content;
    height: max-content;
    padding: 0 18px;
    margin-bottom: 10px;
}

.cart .products-cart .table tbody tr td .item-count a {
    font-size: 24px;
    font-weight: 400;
    color: rgb(185, 185, 185);
    text-decoration: none;
}

.cart .products-cart .table tbody tr td .item-count a:first-child {
    font-size: 32px;
}

.cart .products-cart .table tbody tr td .item-count input {
    font-size: 22px;
    font-weight: 400;
    color: black;
    width: 60px;
    height: 48px;
    text-align: center;
    outline: none;
    background: none;
    border: none;
}

.cart .products-cart .table tbody tr td a {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.cart .products-cart .table tbody tr td:last-child {
    color: black;
    font-size: 22px;
    font-weight: 400;
}

.cart .total {
   position: sticky;
   bottom: 0;
   width: 100%;
   background: white;
   border-top: 1px solid rgba(220, 220, 220, 0.616);
   height: 85px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.cart .total h2 {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-right: 20px;
}

.cart .total button {
    width: max-content;
    padding: 0 28px;
    height: 85px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    outline: none;
    background: black;
    border: none;
    transition: 1s;
    text-align: center;
}

.cart .total button:hover {
    opacity: .8;
}