.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
}

.cart .back-to-shop {
    font-size: 14px;
    font-weight: 400;
    color: black;
    position: absolute;
    top: 20px;
    left: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 1s;
}

.cart .back-to-shop svg {
    margin-right: 10px;
}

.cart .back-to-shop:hover {
    color: gray;
}

.cart h1 a {
    color: black;
    transition: 1s;
    text-decoration: none;
}

.cart h1 a:hover {
    color: black;
    opacity: .8;
}

.cart .notfound {
    margin-top: 28px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: center;
    padding-bottom: 100px;
}

.cart .notfound a {
    transition: 1s;
    display: block;
    color: black;
    margin-top: 4px;
}

.cart .notfound a:hover {
    color: gray;
}

.cart .products-cart {
    margin-top: 20px;
    width: 100%;
    padding: 0 12px 40px 12px;
}

.cart .products-cart .table {
    width: 100%;
}

thead {
    border-bottom: 2px rgba(220, 220, 220, 0.281) solid !important;
}

.cart .products-cart .table thead tr th {
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin-bottom: 18px;
}

.cart .products-cart .table tbody tr td {
    padding: 20px 0;
}

.cart .products-cart .table tbody tr td:first-child {
    display: flex;
}

.cart .products-cart .table tbody tr td:first-child img {
    width: 74px;
    height: 124px;
    object-fit: cover;
    margin-right: 10px;
}

.cart .products-cart .table tbody tr td:first-child .data {
    display: flex;
    flex-direction: column;
}

.cart .products-cart .table tbody tr td:first-child .data h4 {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.cart .products-cart .table tbody tr td:first-child .data h5 {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-top: -2px;
}

.cart .products-cart .table tbody tr td:first-child .data h6 {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    text-transform: capitalize;
}

.cart .products-cart .table tbody tr td:first-child .data h6 span {
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin-top: 2px;
}

.cart .products-cart .table tbody tr td .item-count {
    display: flex;
    align-items: center;
    border: 1px solid gainsboro;
    width: max-content;
    height: max-content;
    padding: 0 8px;
    margin-bottom: 10px;
}

.cart .products-cart .table tbody tr td .item-count a {
    font-size: 18px;
    font-weight: 400;
    color: rgb(185, 185, 185);
    text-decoration: none;
}

.cart .products-cart .table tbody tr td .item-count a:first-child {
    font-size: 24px;
}

.cart .products-cart .table tbody tr td .item-count span {
    font-size: 15px;
    font-weight: 400;
    color: black;
    width: 28px;
    height: 48px;
    text-align: center;
    outline: none;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .products-cart .table tbody tr td a {
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.cart .products-cart .table tbody tr td:last-child {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.cart .total {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
   margin-top: 40px;
}

.cart .total h2 {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.cart .total a {
    width: max-content;
    padding: 0 14px;
    height: 52px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    outline: none;
    background: black;
    border: none;
    transition: 1s;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .total a:hover {
    opacity: .8;
    color: white;
}

@media only screen and (min-width: 425px) {
    .cart .products-cart .table thead tr th {
        font-size: 20px;
    }
    
    .cart .products-cart .table tbody tr td:first-child img {
        width: 90px;
        height: 156px;
        margin-right: 16px;
    }
    
    .cart .products-cart .table tbody tr td:first-child .data h4 {
        font-size: 22px;
        font-weight: 400;
    }
    
    .cart .products-cart .table tbody tr td:first-child .data h5 {
        font-size: 18px;
    }
    
    .cart .products-cart .table tbody tr td:first-child .data h6 span {
        font-size: 16px;
    }

    .cart .products-cart .table tbody tr td .item-count a {
        font-size: 20px;
    }
    
    .cart .products-cart .table tbody tr td .item-count a:first-child {
        font-size: 26px;
    }
    
    .cart .products-cart .table tbody tr td .item-count span {
        font-size: 18px;
        width: 42px;
    }

    .cart .products-cart .table tbody tr td:last-child {
        font-size: 22px;
    }

    .cart .total h2 {
        font-size: 20px;
    }

    .cart .total a {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    .cart .back-to-shop {
        position: absolute;
        top: 20px;
        left: 24px;
        font-size: 16px;
    }

    .cart .products-cart {
        padding: 0 24px 40px 24px;
    }

    .cart .products-cart .table tbody tr td .item-count a {
        font-size: 22px;
    }
    
    .cart .products-cart .table tbody tr td .item-count a:first-child {
        font-size: 30px;
    }
    
    .cart .products-cart .table tbody tr td .item-count span {
        font-size: 22px;
        width: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .cart .back-to-shop {
        position: absolute;
        top: 20px;
        left: 64px;
    }

    .cart .products-cart {
        padding: 0 120px 60px 120px;
    }

    .cart .products-cart .table thead tr th {
        font-size: 24px;
    }

    .cart .products-cart .table tbody tr td {
        padding: 32px 0;
    }
    
    .cart .products-cart .table tbody tr td:first-child img {
        width: 120px;
        height: 160px;
        margin-right: 32px;
    }
    
    .cart .products-cart .table tbody tr td:first-child .data h4 {
        font-size: 28px;
    }
    
    .cart .products-cart .table tbody tr td:first-child .data h5 {
        font-size: 20px;
    }

    .cart .products-cart .table tbody tr td a {
        font-size: 18px;
    }
    
    .cart .products-cart .table tbody tr td:last-child {
        font-size: 24px;
    }

    .cart .total h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }
    
    .cart .total a {
        height: 64px;
        font-size: 20px;
        padding: 0 20px;
    }
}

@media only screen and (min-width: 1190px) {
    .cart .back-to-shop {
        position: absolute;
        top: 20px;
        left: 44px;
    }

    .cart .products-cart {
        padding: 0 240px 60px 240px;
    }
}