.checkout {
    padding: 60px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkout-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout-data {
    width: 100%;
}

.checkout-data-personal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout-data-personal h2, .checkout-data-shipment h2, .checkout-data-payment h2 {
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
}

.checkout-data-personal label {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 4px;
}

.checkout-data-personal input {
    outline: none;
    background: none;
    margin-bottom: 16px;
    width: 100%;
    padding: 0 20px;
    height: 54px;
    border: 1px solid gainsboro;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.checkout-data-shipment {
    margin-top: 40px;
}

.checkout-data-shipment p, .checkout-data-shipment p a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-top: 20px;
}

.checkout-data-shipment ul li {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.checkout-data-payment {
    margin-top: 40px;
}

.checkout-data-shipment select, .checkout-data-payment select {
    outline: none;
    background: none;
    margin-bottom: 16px;
    width: 100%;
    padding: 0 20px;
    height: 54px;
    border: 1px solid gainsboro;
    color: black;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    appearance: none;
}

.checkout-data-payment p {
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-top: 20px;
}

.checkout-products {
    width: 100%;
    position: relative;
    margin-top: 32px;
}

.checkout-products .padding {
    padding: 20px;
    background: rgba(238, 237, 237, 0.589);
    height: max-content;
}

.checkout-products .padding .order-products thead tr th {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.checkout-products .padding .order-products tbody tr td h4 {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.checkout-products .padding .order-products tbody tr td h5 {
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin-top: -6px;
    text-transform: capitalize;
}

.checkout-products .padding .total-checkout {
    margin-top: 20px;
}

.checkout-products .padding .total-checkout h5 {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.checkout-products .padding button {
    display: block;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background: black;
    transition: 1s;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin: 20px 0 8px 0;
}

.checkout-products .padding button:hover {
    opacity: .8;
}

.checkout-products .padding a {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .checkout {
        padding: 60px 24px;
    }

    .checkout-data-personal h2, .checkout-data-shipment h2, .checkout-data-payment h2 {
        font-size: 32px;
        margin-bottom: 36px;
    }
     
    .checkout-data-personal label {
        font-size: 18px;
    }
    
    .checkout-data-personal input {
        padding: 0 30px;
        font-size: 18px;
    }

    .checkout-data-shipment p, .checkout-data-shipment p a {
        font-size: 18px;
    }
    
    .checkout-data-shipment ul li {
        font-size: 18px;
    }

    .checkout-data-shipment select, .checkout-data-payment select {
        padding: 0 30px;
        font-size: 18px;
    }
    
    .checkout-data-payment p {
        font-size: 18px;
    }
    
    .checkout-products .padding {
        padding: 24px;
    }
    
    .checkout-products .padding .order-products thead tr th {
        font-size: 20px;
    }
    
    .checkout-products .padding .order-products tbody tr td h4 {
        font-size: 22px;
    }
    
    .checkout-products .padding .order-products tbody tr td h5 {
        font-size: 14px;
    }
    
    .checkout-products .padding .total-checkout h5 {
        font-size: 22px;
    }
    
    .checkout-products .padding button {
        font-size: 18px;
    }

    .checkout-products .padding a {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {
    .checkout {
        padding: 60px 44px;
    }

    .checkout-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .checkout-data {
        width: 46%;
    }

    .checkout-data-personal h2, .checkout-data-shipment h2, .checkout-data-payment h2 {
        font-size: 36px;
    }

    .checkout-products {
        width: 48%;
        overflow-y: auto;
        overflow-x: hidden;
        position: sticky;
        top: 80px;
        height: max-content;
        max-height: 90vh;
        margin-top: 0;
    }

    .checkout-products .padding {
        padding: 28px;
    }
}

@media only screen and (min-width: 1190px) {
    .checkout {
        padding: 60px 80px;
    }

    .checkout-data {
        width: 52%;
    }

    .checkout-products {
        width: 42%;
    }
}