.contact {
    padding: 60px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: grey;
}

.contact h2 a {
    color: black;
    transition: 1s;
}

.contact h2 a:hover {
    color: grey;
}

.contact form {
    width: 100%;
    max-width: 600px;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.contact form input {
    color: black;
    font-size: 16px;
    font-weight: 300;
    background: none;
    outline: none;
    border: 1px solid gainsboro;
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.contact form input::placeholder, .contact form textarea::placeholder {
    color: black;
}

.contact form input:last-child {
    background: black;
    color: white;
    transition: 1s;
    letter-spacing: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.contact form input:last-child:hover {
    opacity: .8;
}

.contact form textarea {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    padding: 20px 20px 0 20px;
    border: 1px solid gainsboro;
    outline: none;
}

.contact-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact-icons a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contact-icons a svg {
    color: black;
    width: 18px !important;
    height: 18px !important;
    margin: 0 12px;
    transition: 1s;
}

.contact-icons a:hover svg {
    color: gray;
}

@media only screen and (min-width: 540px) {
    .contact-icons a svg {
        width: 20px !important;
        height: 20px !important;
        margin: 0 16px;
    }
}

@media only screen and (min-width: 768px) {
    .contact {
        padding: 60px 24px;
    }
    
    .contact h2 {
        font-size: 18px;
        line-height: 26px;
        width: 96%;
    }
    
    .contact form input {
        font-size: 18px;
    }
    
    .contact form textarea {
        font-size: 18px;
    }

    .contact-icons {
        margin: 30px 0 60px 0;
    }
}

@media only screen and (min-width: 992px) {
    .contact h2 {
        width: 54%;
        margin-bottom: 28px;
    }
    
    .contact-icons a svg {
        width: 22px !important;
        height: 22px !important;
        margin: 0 20px;
    }
}