.faqs {
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqs h1 {
    font-size: 54px;
    font-weight: 400;
    color: black;
}

.faqs .accordion {
    margin-top: 42px;
    width: 100%;
}

.faqs .accordion .accordion-header button {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: black;
    background: none;
    border: none;
}

.faqs .accordion .accordion-header .accordion-button:not(.collapsed),
.faqs .accordion .accordion-header .accordion-button.collapsed {
    box-shadow: none !important;
}

.faqs .accordion .accordion-header .accordion-button.collapsed {
    border-bottom: 1px solid white;
}

.faqs .accordion .accordion-header .accordion-button:not(.collapsed) {
    border-bottom: 0px solid transparent;
}

.faqs .accordion .accordion-header .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.faqs .accordion .accordion-header .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.faqs .accordion .accordion-header .accordion-button:focus {
    box-shadow: none !important;
}

.faqs .accordion .accordion-body {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: gray;
}

.faqs label {
    margin-top: 80px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
    text-align: center;
}

.faqs label a {
    color: black;
    transition: 1s;
}

.faqs label a:hover {
    color: gray;
}