footer {
    border-top: 1px solid rgba(221, 221, 221, 0.788);
    width: 100%;
    padding: 40px 20px 30px 20px;
}

.footer-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.footer-information .footer-links {
    display: flex;
    flex-direction: column;
}

.footer-information .footer-links:last-child {
    margin-right: 0;
}

.footer-information .footer-links h5, .footer-media h5 {
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 20px 0 12px 0;
}

.footer-information .footer-links a {
    font-size: 16px;
    font-weight: 400;
    color: grey;
    text-decoration: none;
    line-height: 20px;
    margin: 2px 0;
    transition: 1s;
}

.footer-information .footer-links a:hover {
    color: black;
}

.footer-information .footer-media p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: grey;
    margin-bottom: 20px;
}

.footer-information .footer-media a {
    text-decoration: none;
    color: gray;
}

.footer-information .footer-media .icons svg {
    transition: 1s !important;
    width: 16px !important;
    height: 16px !important;
    margin-left: 10px;
}

.footer-information .footer-media .icons svg:hover {
    color: black !important;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-copyright h6 {
    font-size: 14px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.footer-copyright h6 a {
    text-decoration: none;
    transition: 1s;
}

.footer-copyright h6 a:hover {
    color: gray;
}

.footer-copyright a {
    font-size: 14px;
    font-weight: 400;
    color: black;
    transition: 1s;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.footer-copyright a:hover {
    color: grey;
}

@media only screen and (min-width: 425px) {
    .footer-information .footer-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-information .footer-media .icons {
        display: flex;
        align-items: center;
    }
    
    .footer-information .footer-media p {
        width: 68%;
        text-align: center;
    }
    
}

@media only screen and (min-width: 768px) {
    .footer-information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    .footer-information .footer-links h5, .footer-media h5 {
        margin: 0;
        margin-bottom: 12px;
    }

    .footer-information .footer-links a, .footer-media a {
        margin: 4px 0;
    }

    .footer-information .footer-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-information .footer-media p {
        margin-bottom: 6px;
    }

    .footer-information .footer-media .icons {
        display: flex;
        align-items: center;
    }

    .footer-information .footer-media .icons svg {
        margin-left: 0;
        margin-right: 12px;
    }
    
    .footer-information .footer-media p {
        width: 68%;
        text-align: left;
    }

    .footer-copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-copyright a {
        margin-top: -8px;
    }
}

@media only screen and (min-width: 992px) {
    footer {
        padding: 80px 80px 30px 80px;
    }

    .footer-information {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 80px;
    }

    .footer-information .footer-links {
        margin-right: 80px;
    }

    .footer-information .footer-links h5, .footer-media h5 {
        font-size: 18px;
    }

    .footer-information .footer-links a, .footer-information .footer-media p {
        font-size: 17px;
    }

    .footer-copyright a, .footer-copyright h6 {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1190px) {
    footer {
        padding: 80px 180px 30px 180px;
    }
}