nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-brand a img {
    width: 200px;
    object-fit: cover;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links .navlinks {
    margin-right: 32px;
}

.header-links .navlinks a, .header-links .dropdown span {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}

.header-links .dropdown span svg {
    display: inline;
    margin-left: 6px;
}

.header-links .navlinks a:hover, .header-links .dropdown span:hover {
    opacity: .8;
}

.header-links .navlinks .dropdown {
    display: inline;
}

.header-links .navlinks .dropdown-toggle::after {
    margin-left: .500em !important;
}

.header-links .navlinks .dropdown .dropdown-menu {
    padding: 20px 40px !important;
    font-weight: 400 !important;
}

.header-links .navlinks .dropdown .dropdown-item {
    font-weight: 400 !important;
}

.header-links .navlinks .dropdown .dropdown-item:hover {
    background: none !important;
    color: gray !important;
} 

.header-links .usernav {
    display: flex;
    align-items: center;
}

.header-links .usernav svg {
    width: 22px;
    height: 22px;
    color: black;
    cursor: pointer;
    transition: 1s;
    margin-right: 12px;
}

.header-links .usernav svg:hover {
    color: gray;
}

.header-links .usernav .bi-person-circle {
    margin-top: 2px;
}

.header-links .usernav .bi-cart {
    width: 22px;
    height: 22px;
    margin-right: 0;
}