nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-brand a {
    font-size: 48px;
    line-height: 38px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 1s;
}

.header-brand a:hover {
    opacity: .8;
    color: black;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links .navlinks {
    margin-right: 20px;
}

.header-links .navlinks a, .header-links .dropdown span {
    text-decoration: none;
    color: black;
    margin: 0 8px;
    font-size: 15px;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}

.header-links .dropdown span svg {
    display: inline;
    margin-left: 6px;
}

.header-links .navlinks a:hover, .header-links .dropdown span:hover {
    opacity: .8;
}

.header-links .navlinks .dropdown {
    display: inline;
}

.header-links .navlinks .dropdown-toggle::after {
    margin-left: .500em !important;
}

.header-links .navlinks .dropdown .dropdown-menu {
    padding: 20px 40px !important;
    font-weight: 400 !important;
}

.header-links .navlinks .dropdown .dropdown-item {
    font-weight: 400 !important;
}

.header-links .navlinks .dropdown .dropdown-item:hover {
    background: none !important;
    opacity: .8;
} 

.header-links .usernav {
    display: flex;
    align-items: center;
}

.header-links .usernav svg {
    width: 28px;
    height: 28px;
    color: black;
    cursor: pointer;
    transition: 1s;
    margin-right: 6px;
}

.header-links .usernav svg:hover {
    color: gray;
}

.header-links .usernav .bi-person {
    margin-top: 3px;
}

.header-links .usernav .bi-bag {
    width: 23px;
    height: 23px;
    margin-right: 0;
}