.index main {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index main img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.index-about, .index-outfits {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-about h1, .index-outfits h1 {
    font-size: 42px;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
}

.index-about p, .index-outfits p {
    font-size: 18px;
    font-weight: 300;
    list-style: 28px;
    color: gray;
    width: 60%;
    text-align: center;
}

.index-outfits {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-outfits .images {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

.index-outfits .images img {
    object-fit: cover;
    width: 550px;
    height: 640px;
    margin-right: 20px;
}

.index-outfits .images div {
    display: flex;
    flex-direction: column;
}

.index-outfits .images div img {
    width: 550px;
    height: 310px;
}

.index-outfits .images div img:last-child {
    margin-top: 20px;
}

.index-products {
    margin: 60px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.index h2 {
    font-size: 54px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin: 100px 0 60px 0;
}

.index-products .product-box {
    width: 24%;
    min-width: 24%;
    height: max-content;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: .3%;
}

.index-products .product-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.index-products .product-box-data {
    margin-top: 10px;
}

.index-products .product-box-data h4 {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.index-products .product-box-data h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: -8px;
}

.index-footer-text {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
}

.index-footer-text label {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: black;
    width: 70%;
}

.index-footer-text a {
    background: black;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    height: 64px;
    padding: 0 40px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.index-footer-text a:hover {
    color: white;
    opacity: .8;
}

.index-footer {
    margin: 100px 0;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.index-footer .index-footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-footer .index-footer-box svg {
    width: 28px !important;
    height: 28px !important;
    color: black;
}

.index-footer .index-footer-box h5 {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-top: 14px;
}

.index-footer .index-footer-box h6 {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin-top: -6px;
}