.index main {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index main img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.index main .main-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.index main .main-text h1 {
    font-size: 32px !important;
    line-height: 42px;
    color: white !important;
    font-weight: 500 !important;
    margin-bottom: 10px;
    padding: 0 12px;
}

.index main .main-text p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: white;
    padding: 0 12px;
}

.index main .main-text a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: 1s;
    border: 2px solid white;
    box-shadow: 2px 5px 15px 15px transparent;
    padding: 14px 24px;
    margin-top: 10px;
    text-align: center;
}

.index main .main-text a:hover {
    box-shadow: 2px 5px 15px 15px rgba(255, 255, 255, 0.3);
}

.index .index-footer {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index .index-footer h2 {
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.index .index-footer h2 a {
    color: gray;
    text-decoration: none;
    transition: 1s;
}

.index .index-footer h2 a:hover {
    color: black;
}

.index .index-footer .images {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    overflow-x: auto;
}

.index .index-footer .images img {
    width: 90%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

@media only screen and (min-width: 540px) {    
    .index main .main-text h1 {
        font-size: 36px !important;
    }   
}

@media only screen and (min-width: 768px) {
    .index main {
        height: 700px;
    }
    
    .index main .main-text h1 {
        font-size: 42px !important;
    }
    .index main .main-text p, .index main .main-text a {
        font-size: 18px;
    }

    .index main .main-text a {
        padding: 16px 30px;
    } 
    
    .index .index-footer h2 {
        font-size: 28px;
    }
    
    .index .index-footer .images {
        margin-top: 60px;
        padding: 0 24px;
    }
    
    .index .index-footer .images img {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) { 
    .index main .main-text {
        position: absolute;
        bottom: 20%;
    } 

    .index main .main-text h1 {
        font-size: 48px !important;
        padding: 0;
    }

    .index main .main-text p {
        padding: 0;
    }

    .index .index-footer h2 {
        font-size: 32px;
    }
    
    .index .index-footer .images {
        overflow: hidden;
    }
    
    .index .index-footer .images img {
        width: 33%;
    }
}

@media only screen and (min-width: 1190px) { 
    .index main .main-text h1 {
        font-size: 52px !important;
    }

    .index .index-footer .images {
        padding: 0 80px;
    }
}