.index main {
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index main img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.index main a {
    position: absolute;
    top: 50%;
    left: 44%;
    width: max-content;
    height: 64px;
    padding: 0 24px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: black;
    border: none;
    transition: 1s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index main a:hover {
    opacity: .8;
}

.index-about {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-about h1 {
    font-size: 48px;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
}

.index-about p {
    font-size: 18px;
    font-weight: 300;
    list-style: 28px;
    color: gray;
    width: 56%;
    text-align: center;
}

.index-products {
    margin: 40px 0 60px 0;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

.index-products::-webkit-scrollbar {
    width: 0;
}

.index-products .product-box {
    width: 270px;
    min-width: 270px;
    height: max-content;
    margin: 14px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.index-products .product-box img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.index-products .product-box-data {
    margin-top: 16px;
}

.index-products .product-box-data h4 {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.index-products .product-box-data h5 {
    font-size: 16px;
    font-weight: 300;
    margin-top: -8px;
}

.index-footer {
    margin: 80px 0 120px 0;
    padding: 0 260px;
    display: flex;
    justify-content: space-between;
}

.index-footer .index-footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index-footer .index-footer-box svg {
    width: 28px !important;
    height: 28px !important;
    color: black;
}

.index-footer .index-footer-box h5 {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-top: 14px;
}

.index-footer .index-footer-box h6 {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin-top: -6px;
}