.outfits {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outfits img {
    margin: 30px 0 80px 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.outfits p {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: gray;
    padding: 0 20px;
}

.outfits .outfits-box {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}

.outfits .outfits-box img {
    width: 80%;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
}

.outfits .outfits-box img:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 768px) {    
    .outfits p {
        width: 70%;
        padding: 0;
    }

    .outfits .outfits-box img {
        width: 60%;
        height: 500px;
    }
}

@media only screen and (min-width: 1190px) { 
    .outfits img {
        margin: 48px 0 80px 0;
        width: 90%;
    }

    .outfits p {
        font-size: 18px;
        line-height: 28px;
        width: 60%;
    }

    .outfits .outfits-box {
        margin: 80px 0 60px 0;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    
    .outfits .outfits-box img {
        width: 30%;
        height: 540px;
        margin: 0 1%;
    }
}