.products {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.products h6 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    word-spacing: 5px;
    text-transform: capitalize;
}

.products h6 a {
    text-decoration: none;
    color: gray;
    transition: 1s;
}

.products h6 a:hover {
    color: black;
}

.products h1 {
    text-transform: capitalize;
    margin-bottom: 24px;
}

.products .notfound {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products .notfound a {
    color: black;
    transition: 1s;
    margin-top: 6px;
}

.products .notfound a:hover {
    color: gray;
}

.products .filters {
    width: 100%;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 2;
    margin: 20px 0;
}

.products .filters h2 {
    font-size: 18px;
    font-weight: 400;
    color: grey;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.products .filters h2 svg {
    margin-left: 8px;
    width: 18px;
    height: 18px;
    color: grey;
}

.offcanvas-filters {
    padding: 20px !important;
}

.offcanvas-filters h5 {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.offcanvas-filters svg {
    cursor: pointer;
    color: black;
}

.offcanvas-filters .filter-box {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    border-bottom: 1px solid gainsboro;
}

.offcanvas-filters .filter-box:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.offcanvas-filters .filter-box h3 {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.offcanvas-filters .filter-box a {
    font-size: 15px;
    font-weight: 400;
    margin: 2px 0;
    color: gray;
    transition: 1s;
    text-decoration: none;
}

.offcanvas-filters .filter-box a:hover {
    color: black;
}

.products-container {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.products-container.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-container .product-box {
    width: 46%;
    margin: 2%;
    height: max-content;
    position: relative;
    text-decoration: none;
    color: black;
}

.products-container .product-box img {
    width: 100%;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
}

.products-container .product-box .product-content {
    margin-top: 10px;
}

.products-container .product-box .product-content h4 {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.products-container .product-box .product-content h5 {
    font-size: 16px;
    font-weight: 300;
    margin-top: -6px;
} 

.products-container .product-box .product-content label {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 5px;
    left: 5px;
    background: white;
    color: black;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 8px;
}

@media only screen and (min-width: 540px) {
    .products-container .product-box img {
        height: 320px;
    }

    .products-container .product-box .product-content label {
        font-size: 14px;
        position: absolute;
        top: 12px;
        left: 10px;
        padding: 10px 12px;
    }
}

@media only screen and (min-width: 768px) {
    .products .filters {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .products .filters h2 {
        margin-right: 24px;
        border-left: 1px solid gainsboro;
        padding-left: 40px;
        font-size: 20px;
    }

    .products-container .product-box img {
        height: 400px;
    }

    .products-container .product-box .product-content label {
        font-size: 15px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .products-container {
        padding: 0 24px;
    }

    .products-container .product-box {
        width: 24%;
        margin: 1% .5%;
    }

    .products-container .product-box img {
        height: 320px;
    }

    .products-container .product-box .product-content h4 {
        font-size: 20px;
    }

    .products-container .product-box .product-content h5 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1190px) {
    .products-container {
        padding: 0 60px;
    }

    .products-container .product-box img {
        height: 360px;
    }
}

/* details */

.details {
    display: flex;
    flex-direction: column;
}

.details img {
    object-fit: cover;
    height: 540px;
    width: 100%;
}

.details .details-content {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    margin: 40px 0 60px 0;
}

.details-content .details-nav {
    display: flex;
    align-items: center;
}

.details-content .details-nav a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: black;
    margin-bottom: 60px;
    transition: 1s;
    text-transform: capitalize;
}

.details-content .details-nav a:hover {
    color: gray;
}

.details-content .details-nav a span {
    margin: 0 2px;
}

.details-content h1 {
    text-align: left !important;
}

.details-content h2 {
    font-size: 24px;
    font-weight: 300;
    color: black;
    margin-bottom: 20px;
}

.details-content h3 {
    font-size: 18px;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
}

.details-content h3 span {
    color: gray;
}

.details-content h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.details-content p {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}

.details-content .add-product {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.details-content .add-product .item-count {
    width: max-content;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.details-content .add-product .item-count input {
    width: 20px;
    outline: none;
    background: none;
    border: none;
    font-size: 28px;
    font-weight: 400;
    color: black;
}

.details-content .add-product button {
    outline: none;
    background: black;
    height: 56px;
    width: max-content;
    padding: 0 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: none;
    transition: 1s;
    cursor: pointer;
}

.details-content .add-product button:hover {
    opacity: .8;
}

@media only screen and (min-width: 768px) {
    .details {
        padding: 60px 20px 80px 20px;
        display: flex;
        flex-direction: row;
        display: grid;
        grid-template-columns: repeat(2, 48%);
        gap: 4%;
        width: 100%;
    }
    
    .details img {
        height: 560px;
        width: 100%;
    }
    
    .details .details-content {
        max-width: 100%;
        margin: 0;
    }

    .details-content .details-nav a {
        font-size: 14px;
    }

    .details-content h2 {
        font-size: 22px;
    }
    
    .details-content h3 {
        font-size: 16px;
    }
    
    .details-content h4 {
        font-size: 18px;
    }
    
    .details-content p {
        font-size: 15px;
    }

    .details-content .add-product .item-count {
        margin-right: 20px;
    }

    .details-content .add-product .item-count a {
        font-size: 24px;
    }
    
    .details-content .add-product .item-count a:last-child {
        font-size: 20px;
    }
    
    .details-content .add-product .item-count input {
        font-size: 28px;
        text-align: left;
        width: 50px;
    }
    
    .details-content .add-product button {
        height: 56px;
        width: max-content;
        padding: 0 28px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {
    .details {
        display: grid;
        grid-template-columns: 58% 36%;
        gap: 8%;
    }

    .details-content .details-nav a {
        font-size: 15px;
    }

    .details-content .details-nav a span {
        margin: 0 4px;
    }

    .details-content h2 {
        font-size: 24px;
    }
    
    .details-content h3 {
        font-size: 18px;
    }
    
    .details-content h4 {
        font-size: 20px;
    }
    
    .details-content p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1190px) {
    .details {
        padding: 60px 140px 80px 140px;
    }
}