.returns {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.returns h1 {
    font-size: 54px;
    font-weight: 400;
    color: black;
}

.returns p {
    width: 60%;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
    color: grey;
}