/* global css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* color links */

.color-links.active {
    color: rebeccapurpl !important;
}

/* navbar */

.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.banner svg {
    margin-right: 12px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;
    width: 100%;
    background: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.navlinks a {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    margin-right: 24px;
    transition: 1s;
}

.navlinks a:last-child {
    margin-right: 0;
}

.navlinks a:hover {
    color: gray;
}

.brand {
    margin-left: -300px;
}

.brand a {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
}

.brand a:hover {
    color: white;
}

.usernav, .usernav a {
    display: flex;
    align-items: center;
}

.usernav a:nth-child(2) {
    margin: 0 30px;
}

.usernav svg {
    color: white;
    transition: 1s;
    cursor: pointer;
}

.usernav svg:hover {
    color: gray;
}

/* Cart Widget OffCanvas */

.offcanvas-header {
    display: flex;
    align-items: center;
    margin: 0 !important;
    margin-bottom: 20px !important;
    padding: 24px !important;
    border-bottom: 1px solid gainsboro;
}

.offcanvas-header h5 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

.offcanvas-header button:focus {
    box-shadow: none;
    color: black;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px !important;
}

.offcanvas-body h6 {
    font-size: 18px;
    font-weight: 300;
    color: gray;
    visibility: hidden;
}

.offcanvas-body button {
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    background: black;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    transition: 1s;
}

.offcanvas-body button:hover {
    background: white;
    color: black;
}

/* index */

.index main {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index main img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* products */

.products {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products h1 {
    font-size: 24px;
    font-weight: 300;
}

.products-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* details */

.details {
    padding: 100px 160px;
    display: flex;
    justify-content: center;
}

.details .carousel {
    height: 580px;
}

.details .carousel img {
    object-fit: cover;
    height: 580px;
    min-height: 580px;
    min-width: 100%;
    width: 100%;
}

.details .details-content {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.details .details-content a {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300;
    transition: 1s;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.details .details-content a:hover, .details .details-content a svg:hover {
    color: gray;
}

.details .details-content a svg {
    margin-right: 8px;
}

.details .details-content h1 {
    font-size: 24px;
    font-weight: 300;
}

.details .details-content h2 {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 300;
}

.details .details-content select {
    margin-top: 40px;
    width: 400px;
    height: 56px;
    outline: none;
    background: none;
    appearance: none;
    border: 1px solid gainsboro;
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
    transition: 1s;
    cursor: pointer;
}

.details .details-content select:hover {
    border: 1px solid black;
}

.details .details-content .add-to-cart {
    background: black;
    color: white;
    font-size: 18px;
    font-weight: 300;
    width: 400px;
    height: 56px;
    outline: none;
    border: 1px solid transparent;
    margin-top: 20px;
    transition: 1s;
    cursor: pointer;
}

.details .details-content .add-to-cart:hover {
    background: transparent;
    border: 1px solid black;
    color: black;
}

.details .details-content .description {
    margin-top: 30px;
    width: 400px;
}

.details .details-content .description .accordion-button {
    box-shadow: none !important;
    background: none !important;
    color: black !important;
}

.details .details-content .description .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.details .details-content .description .accordion-body {
    color: gray !important;
}

.details .details-content .description p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: gray;
}

/* checkout */

.checkout {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.checkout-payment {
    background: white;
    width: 50%;
    padding: 40px;
}

.checkout-cart {
    background: rgba(231, 230, 230, 0.479);
    width: 50%;
    padding: 40px;
    border-left: 1px solid rgb(221, 221, 221);
}

/* collections */

.collections {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collections h1 {
    font-size: 24px;
    font-weight: 300;
}

.collections .collections-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 60px 0 20px 0;
}

.collections .collections-box .collection {
    height: 600px;
    width: 31%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.541);
    background-image: url(../images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.collections .collections-box .collection h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: white;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 50%;
}

.collections .collections-box .collection a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: white;
    background: transparent;
    border: 1px solid white;
    width: max-content;
    height: max-content;
    padding: 14px 16px;
    margin-bottom: 50px;
    margin-left: 50px;
    transition: 1s;
}

/* account */

.my-account {
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
}

.my-account h5 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 24px;
    cursor: pointer;
    transition: 1s;
}

.my-account h5:hover {
    color: gray;
}

.my-account h1 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}

.my-account h2 {
    font-size: 20px;
    font-weight: 300;
}

.my-account-nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.my-account-nav button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: black;
    border: none;
    background: none;
    width: max-content;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 1s;
    outline: none;
}

.my-account-nav button:last-child {
    margin-bottom: 0;
}

.my-account-nav button:hover {
    color: gray;
}

.my-account-nav button span {
    margin-top: -2px;
    margin-right: 6px;
    transition: 1s;
}

.my-account .orders {
    margin-top: 60px;
}

.my-account .orders h3 {
    font-size: 22px;
    font-weight: 300;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-account .orders h3 svg {
    color: gray;
    cursor: pointer;
    transition: 1s;
}

.my-account .orders h3 svg:hover {
    color: black;
}

.my-account .orders p {
    font-size: 18px;
    font-weight: 300;
    color: gray;
    margin-top: 32px;
}

/* login & signup */

.account {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account h1 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

.account h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 24px;
}

.account form {
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.account form input {
    border: 1px solid rgb(211, 211, 211);
    width: 100%;
    height: 48px;
    background: none;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    color: black;
    margin-bottom: 16px;
    padding: 0 20px;
}

.account form input::placeholder {
    color: black;
}

.account form input:last-child {
    color: white;
    background: black;
    border: 1px solid black;
    letter-spacing: 2px;
    transition: 1s;
    cursor: pointer;
}

.account form input:last-child:hover {
    background: none;
    color: black;
}

.account p {
    font-size: 18px;
    font-weight: 300;
    color: black;
    margin-top: 10px;
}

.account p a {
    text-decoration: none;
    transition: 1s;
    color: black;
}

.account p a:hover {
    color: grey;
}

/* faqs */

.faqs {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqs h1 {
    font-size: 24px;
    font-weight: 300;
}

.faqs .accordion {
    margin-top: 36px;
    width: 70%;
}

.faqs .accordion .accordion-header button {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    color: black;
    background: none;
    border: none;
}

.faqs .accordion .accordion-header .accordion-button:not(.collapsed),
.faqs .accordion .accordion-header .accordion-button.collapsed {
    box-shadow: none !important;
}

.faqs .accordion .accordion-header .accordion-button.collapsed {
    border-bottom: 1px solid white;
}

.faqs .accordion .accordion-header .accordion-button:not(.collapsed) {
    border-bottom: 1px solid gainsboro;
}

.faqs .accordion .accordion-header .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.faqs .accordion .accordion-header .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.faqs .accordion .accordion-header .accordion-button:focus {
    box-shadow: none !important;
}

.faqs .accordion .accordion-body {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: gray;
}

/* returns */

.returns {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.returns h1 {
    font-size: 24px;
    font-weight: 300;
}

.returns p {
    width: 60%;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-top: 40px;
    color: grey;
}

/* gallery */

.gallery {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery h1 {
    font-size: 24px;
    font-weight: 300;
}

/* about */

.about {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1 {
    font-size: 24px;
    font-weight: 300;
}

.about-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.about-us {
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
}

.about-us img {
    height: 100%;
    width: 600px;
    min-width: 600px;
    margin-right: 32px;
    object-fit: cover;
}

.about-us h4 {
    font-size: 20px;
    font-weight: 300;
    color: gray;
    margin-right: 52px;
}

.about-us p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.behind-scenes {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.behind-scenes-firstbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 55%;
}

.behind-scenes-firstbox h4 {
    font-size: 20px;
    font-weight: 300;
    color: gray;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.behind-scenes-firstbox h4 p {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: black;
    margin-left: 20px;
    width: 100%;
}

.behind-scenes-firstbox img {
    height: 400px;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
}

.behind-scenes-secondbox {
    height: 100%;
    width: 40%;
    min-width: 40%;
    object-fit: cover;
}

.movement {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: max-content 500px;
    place-items: center;
    margin-left: 12%;
}

.movement h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 300;
    color: gray;
    width: 100%;
}

.movement h4 p {
    font-size: 18px;
    font-weight: 300;
    color: black;
    margin-left: 60px;
}

.movement img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.principales {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.principales-firstbox {
    width: 50%;
    min-width: 50%;
    height: 700px;
    object-fit: cover;
    margin-right: 70px;
}

.principales-secondbox h4 {
    font-size: 20px;
    font-weight: 300;
    color: gray;
    display: flex;
    align-items: center;
}

.principales-secondbox h4 p {
    font-size: 18px;
    font-weight: 300;
    color: black;
    width: 80%;
}

.principales-secondbox img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 70px;
}

.visit-us {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit-us p {
    width: 70%;
    font-size: 18px;
    font-weight: 300;
    color: black;
    text-align: center;
}

/* contact */

.contact {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h1 {
    font-size: 24px;
    font-weight: 300;
}

.contact h2 {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 300;
    color: grey;
}

.contact h2 a {
    color: black;
    text-decoration: none;
    transition: 1s;
}

.contact h2 a:hover {
    color: grey;
}

.contact form {
    width: 70%;
    height: max-content;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.contact form input {
    color: black;
    font-size: 18px;
    font-weight: 300;
    background: none;
    outline: none;
    border: 1px solid gainsboro;
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.contact form input::placeholder, .contact form textarea::placeholder {
    color: black;
}

.contact form input:last-child {
    background: black;
    color: white;
    transition: 1s;
    letter-spacing: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.contact form input:last-child:hover {
    background: none;
    color: black;
}

.contact form textarea {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    color: black;
    padding: 20px 20px 0 20px;
    border: 1px solid gainsboro;
    outline: none;
}

/* footer */ 

footer {
    background: white;
    border-top: 1px solid rgb(221, 221, 221);
    width: 100%;
    padding: 80px 60px 40px 60px;
}

.info {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    margin-left: 160px;
}

.info .links {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.info .links h5, .media h5 {
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 16px;
}

.info .links a {
    font-size: 18px;
    font-weight: 300;
    color: grey;
    text-decoration: none;
    line-height: 24px;
    margin: 4px 0;
    transition: 1s;
}

.info .links a:hover {
    color: black;
}

.info .media p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    width: 80%;
    color: grey;
    margin-bottom: 20px;
}

.info .media svg {
    transition: 1s !important;
}

.info .media svg:hover {
    color: black !important;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright a {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    transition: 1s;
    letter-spacing: 2px;
}

.copyright a:last-child {
    letter-spacing: 0;
    display: flex;
    align-items: center;
}

.copyright a:last-child svg {
    margin-right: 5px;
}

.copyright a:hover {
    text-decoration: none;
    opacity: .8;
    color: black;
}

.copyright span {
    font-size: 14px;
    letter-spacing: 0;
    margin-left: 6px;
    color: black;
    font-family: 'Poiret One', sans-serif;
}