/* global css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

/* h1 */

h1 {
    font-size: 32px !important;
    font-weight: 400 !important;
    color: black !important;
    text-align: center !important;
}

@media only screen and (min-width: 540px) {
    h1 {
        font-size: 42px !important;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 48px !important;
    }
}

/* errors */

.errors {
    border-radius: 0 !important;
    font-size: 14px;
    font-weight: 400;
    color: black !important;
}

.errors .btn-close {
    box-shadow: none !important;
    outline: none !important;
}

@media only screen and (min-width: 540px) {
    .errors {
        font-size: 16px;
    }
}

/* chat */

.chat {
    position: fixed;
    bottom: 14px;
    right: 14px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(74, 197, 74);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.chat svg {
    color: white;
    width: 18px !important;
    height: 18px !important;
}

@media only screen and (min-width: 768px) {
    .chat {
        position: fixed;
        bottom: 24px;
        right: 24px;
        height: 46px;
        width: 46px;
    }
    
    .chat svg {
        width: 22px !important;
        height: 22px !important;
    }
}

@media only screen and (min-width: 992px) {
    .chat {
        position: fixed;
        bottom: 40px;
        right: 40px;
        height: 50px;
        width: 50px;
    }
    
    .chat svg {
        width: 24px !important;
        height: 24px !important;
    }
}

/* system */

.system {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.system div {
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
    overflow-x: auto;
}

.system p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 16px 0;
}

@media only screen and (min-width: 992px) {
    .system div {
        width: 70%;
    }
}

/* error page */

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 60px 20px;
}

.error-page h1 {
    font-size: 40px;
    font-weight: 300;
}

.error-page h2 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 8px;
    text-align: center;
}

.error-page a {
    text-decoration: none;
    width: max-content;
    padding: 0 24px;
    height: 54px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background: black;
    border: 1px solid black;
    outline: none;
    margin-top: 24px;
    transition: 1s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-page a:hover {
    opacity: .8;
    color: white;
}

@media only screen and (min-width: 992px) {
    .error-page {
        padding: 120px;
    }
}

/* dropdown arraw */

.dropdown-toggle::after {
    display: none !important;
}