/* global css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

/* system */

.system {
    padding: 100px 160px;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.system h1 {
    font-size: 54px;
    font-weight: 400;
    color: black;
    margin-bottom: 54px;
}

.system div {
    border: 1px solid black;
    padding: 20px;
}

.system p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 24px 0;
}

/* error page */

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 200px;
}

.error-page h1 {
    font-size: 40px;
    font-weight: 300;
}

.error-page h2 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
    text-align: center;
}

.error-page a {
    text-decoration: none;
    width: max-content;
    padding: 0 24px;
    height: 54px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background: black;
    border: 1px solid black;
    outline: none;
    margin-top: 24px;
    transition: 1s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-page a:hover {
    opacity: .8;
    color: white;
}

/* cart widget */

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
    margin-bottom: 20px !important;
    padding: 30px 18px !important;
}

.cart-header h5 {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
    color: black;
}

.cart-header button:focus {
    box-shadow: none;
    color: gray;
}

.cart-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 18px !important;
}

.cart-body h6 {
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

.offcanvas-backdrop {
    background: rgba(0, 0, 0, 0.062) !important;
}

.offcanvas-backdrop.show {
    opacity: .1 !important;
}