.terms {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 992px) {
    .terms {
        padding: 60px;
    }
}

@media only screen and (min-width: 1190px) {
    .terms {
        padding: 60px 40px;
    }
}