<div class="products">
    <h1>TODOS LOS PRODUCTOS</h1>
    <div class="products-container">
        {{#if boolean}}
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>         
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>                
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>                
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>                
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>                
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>    
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>  
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>  
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>  
                <div class="product-box">
                    <img src="../../images/background.jpeg" >
                    <div class="product-content">
                        <h4>Remera B&W</h4>
                        <h5>$17</h5>
                    </div>
                </div>                     
        {{else}}
            <p>No hay productos cargados en la web.</p>
        {{/if}}
    </div>
</div>