<div class="collections">
    <h1>TODAS LAS COLECCIONES</h1>
    <div class="collections-box">
        <div class="collection">
            <h4>CATALOGO ENTERO</h4>
            <a href="/collections/products">VER CATALOGO</a>
        </div>
        <div class="collection">
            <h4>PRODUCTOS</h4>
            <a href="/collections/products/categories/productos">VER PRODUCTOS</a>
        </div>
        <div class="collection">
            <h4>OUTFITS</h4>
            <a href="/collections/products/categories/outfits">VER OUTFITS</a>
        </div>
    </div>
</div>