<div class="collections">
    <h1>NUESTRAS COLECCIONES</h1>
    <div class="collections-box">
        <div class="collection">
            <h4>TODOS LOS OUTFITS</h4>
            <a href="/collections/outfits">VER OUTFITS</a>
        </div>
        <div class="collection">
            <h4>TODOS LOS PRODUCTOS</h4>
            <a href="/collections/products/all-products">VER PRODUCTOS</a>
        </div>
    </div>
</div>