<div class="details">
    <img src="../../images/background.jpeg" >
    <div class="details-content">
        <a href="/all-products">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            PRODUCTOS
            </a>
        <h1>“BEST TIME IS NOW” TEE WHITE</h1>
        <h2>$17</h2>
        <select>
            <option>TALLE: XS</option>
            <option>TALLE: S</option>
            <option>TALLE: M</option>
            <option>TALLE: L</option>
        </select>
        <button>AÑADIR AL CARRITO</button>
        <div class="description">
            <p>Camiseta Unisex con diseño serigrafíado en ambos lados en el que el mensaje dice “best time for new beginnings is now” refiriéndose a que “el mejor momento para nuevos comienzos es ahora”.</p>
            <p>Tu cabeza, tu ego, te va a intentar hundir, no va a querer que vivas a tu máximo potencial. Debes dar un golpe sobre la mesa y vivir tu vida al máximo potencial.</p>
            <p>100% algodón.</p>
            <p>TALLES: XS, S, M, L</p>
        </div>
    </div>
</div>