<div class="outfits">
    <h1>Outfits For You</h1>
    <img src="../../images/background2.jpeg.jpg">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloremque, fugit quod quo nobis porro velit sapiente, quisquam doloribus rerum nostrum rem, perferendis laudantium quam eum qui fugiat aliquid culpa officia illo consequatur blanditiis cupiditate praesentium! Enim dolore nihil, autem, dolorem quas praesentium voluptatem, explicabo eligendi recusandae iste dolores! Eaque?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores illo provident at earum nemo, facilis impedit qui dignissimos quas velit!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloremque, fugit quod quo nobis porro velit sapiente, quisquam doloribus rerum nostrum rem, perferendis laudantium quam eum qui fugiat aliquid culpa officia illo consequatur blanditiis cupiditate praesentium!</p>
    <div class="outfits-box">
        <img src="../../images/background2.jpeg.jpg">
        <img src="../../images/background2.jpeg.jpg">
        <img src="../../images/background2.jpeg.jpg">
    </div>
</div>