<div class="about">
    <h1>NOSOTROS</h1>
    <div class="about-container">
        <div class="about-us">
            <img src="../../images/background.jpeg" >
            <h4>SOBRE NOSOTROS</h4>
            <p>NUDE PROJECT is a ready-to-wear label founded in 2018 in a small dorm room by two friends eager to create something different. Bruno and Alex were raised in completely different environments. One from Bali, the other from Burgos (a little more north) had an instant connection that, after a month of knowing each other, led them to create a joint movement that would change their lives forever. "For us, it was all about the hip-hop scene, the rawness of skateboarding and the artist’s creativity which motivated us to imprint a way of living shared through the internet."</p>
        </div>
        <div class="behind-scenes">
            <div class="behind-scenes-firstbox">
                <h4>
                    DETRÁS DE ESCENA
                    <p>We strive for designs that embrace a modern attitude for a creative life, seamlessly blending comfort, minimalism and elegance in every cut.</p>
                </h4>
                <img src="../../images/background.jpeg" >
            </div>
            <img src="../../images/background.jpeg" class="behind-scenes-secondbox" >
        </div>
        <div class="movement">
            <h4>
                EL MOVIMIENTO
                <p>NUDE PROJECT is more than just clothing. It is a creative platform for the misfits, the outcasts and the wild to express themselves. Our garments aim to inspire the new generation to pursue their passion, orthodoxly or not, by empowering them to create without fear of judgement.</p>
            </h4>
            <img src="../../images/background.jpeg" >
        </div>
        <div class="principales">
            <img src="../../images/background.jpeg" class="principales-firstbox" >
            <div class="principales-secondbox">
                <h4>
                    NUESTROS PRINCIPIOS
                    <p>One of our goals is to change the perceived idea of success. We realised that focusing on money or fame just to seek acceptance, won't ever be fulfilling.</p>
                </h4>
                <img src="../../images/background.jpeg" >
            </div>
        </div>
        <div class="visit-us">
            <p>One of our goals is to change the perceived idea of success. We realised that focusing on money or fame just to seek acceptance, won't ever be fulfilling.</p>
        </div>
    </div>
</div>